.container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 90rem;
}

.secondary-heading {
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: $font-weight-light;
  color: $color-very-dark-gray;
  line-height: 0.95;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.display-none {
  display: none;
}
