@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300;500;600&display=swap");

// COLORS
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

// TYPOGRAPHY
$font-size-default: 0.9375rem; //15px
$font-family-alata: "Alata", sans-serif;
$font-family-josefin-sans: "Josefin Sans", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
